<!DOCTYPE html>
<html>
    <head>
        <title>Chatroom</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
        <script type="text/javascript">
            let username;

            let socket = io();
        </script>
    </head>
    <body>
        <form id="chat" method="POST" action="#">
            <label>Logged in as <code id="user">{{ username }}</code></label><br/>
            <label>Chat: </label>
            <input id="prompt" name="prompt" placeholder="Send a message!"/><br/><br/>
        
            <input type="submit" name="send" value="send"/>
            <input type="submit" name="logout" value="logout"/>
        </form><br/>
        
        <div id="chatbox">
            
        </div>

        <script type="text/javascript">
            username = document.getElementById("user").innerText;
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script>
    </body>
</html>