<!DOCTYPE html>
<html>
    <head>
        <title>Login Chatroom</title>
    </head>
    <body>
        <form id="login" method="POST">
            <label>Username:</label>
            <input id="username" name="username" type="text" autocomplete="username" placeholder="Enter username" /><br/>
            <label>Password: </label>
            <input id="password" name="password" type="password" autocomplete="current-password" placeholder="Enter password" /><br/>
            <input type="submit" value="Login" />&nbsp;
            <a href="/signup">Signup instead</a><br/>
            {% if error %}
              <p style="color:red;" id="error">{{ error }}</p>
            {% endif %}
        </form>
    </body>
</html>